@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  background: #4070f4;
}
.container{
  max-width: 1175px;
  width: 100%;
  height: 200px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  position: relative;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #4070f4;
}
.container form .user-details{
  display: flex;
  justify-content: space-between;
  margin: 12px 0 12;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  width: 200px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #4070f4;
}
form input[type="radio"]{
  display: none;
}
form {
  height: 45px;
  margin: 10px 0;
}
form button{
  height: 80%;
  width: 30%;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #4070f4;
  cursor: pointer;
  position: relative;
}

form button:hover{
    background: #4070f4;

}
.storage{
   display: none;
   width: 1175px;
   margin-top: 240px;
   margin-left: auto;
   margin-right: auto;
   padding:25px 30px;
   position: absolute;
   background: white;
   border-radius: 5px;
}

.storage .title{
   display: none;
   font-size: 2rem;
   color:black;
   margin-bottom: 3rem;
   margin-top: 10px;
   text-align: center;
}

.storage .products-container{
   display: grid;
   grid-auto-rows: 280px;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   gap:2rem;
}

.storage .products-container .product{
   text-align: center;
   align-items: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   height: 100%;
   width: 100%;
   border-radius: 5px;

}

.storage .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.storage .products-container .product img{
   height: 60%;
   margin: auto;
}

.storage .products-container .product:hover img{
   transform: scale(.9);
}

.storage .products-container .product h3{
   padding:.5rem 0;
   font-size: 0.9rem;
   color:#444;
}

.storage .products-container .product:hover h3{
   color:#27ae60;
}

.storage .products-container .product .price{
   font-size: 1.2rem;
   color:#444;
}


@media (max-width: 584px) {
  .container{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category{
    width: 100%;
  }
  .container form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper{
  width: 370px;
  margin: 85px auto 0;
}
.select-btn, li{
  margin-bottom: 15px;
  width: 300px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15.5px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  height: 30px;
  width: 300px;
  margin-bottom: 15px;
}
.select-btn i{
  font-size: 17px;
  transition: transform 0.3s linear;
}
.user-details.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 300px;
}
.user-details.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
  width: 7px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
  width: 7px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
  width: 7px;
}
.options li{
  height: 20px;
  padding: 0 10px;
  font-size: 13px;
}
.options li:hover, li.selected{
  border-radius: 10px;
  background: #f2f2f2;
}